.app-console{
  position: absolute;
  bottom: 0;
  height: 300px;
  width: 100%;
  border-top: 1px solid #171717;
  .app-console-expand:hover{
    background-color: #222;
  }
  .app-console-expand{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    right: calc(50% - 8px);
    z-index: 2;
    top: -15;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px 2px #171616;
    cursor: pointer;
    transition: .3s;
    .iconfont{
      color:#1890ff;
      font-size: 20px;
      font-weight: 900;
    }
  }
  .app-console-header{
    height:30px;
    display:flex;
    align-items: center;
    .app-console-header-item:hover{
      background: #222;
    }
    .app-console-header-item, .app-console-header-item-active{
      height: 100%;
      color: #fff;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      transition: .2s;
      cursor: pointer;
    }
    .app-console-header-item-active{
      background: #222;
    }
  }
  .app-console-code{
    height: calc(~'100% - 30px');
    width: 100%;
  }
}